#div1{
  /*color del fondo.*/
   background-color: black;
   width: 1836px;
   height: 850px;
}
#div2 {
  /*dibujo de la plataforma.*/
  background-color: white;
  width: 100px;
  height: 20px;
  position:absolute;
  left: 880px;
  top: 780px;
}
#div3{
  /*dibujo de la pelota.*/
  background-color: red;
  width: 20px;
  height: 20px;
  position:absolute;
  left: 920px;
  top: 750px;
  border-radius: 15px;
}
.ladrillo{
  width:80px;
position:absolute;
height:40px;
background-color: green;
}
#div4{
  /*puntiacion del jugador.*/
  background-color:white;
  width: 130px;
  height: 20px;
  position:absolute;
  left: 9px;
  top: 850px;
}
#div5{
/*GAME OVER: final de la partida*/
color:red;
font-size: 4rem;
left:650px;
top:400px;
display:none;
position:absolute;
margin: auto;


}
